@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@300;600&display=swap');
 
.topcontent{
    color: white;
    position: relative;
}
.topcontent__container{
    position: absolute;
    top: 400px;
    right: 200px;
}

.topcontent__container >p{
    letter-spacing: 1px;
    text-align: left;
    padding: 3px;
    padding-top: 20px;
}
.topcontent__container > a > button{
    margin-bottom: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.topcontent__container > h1 {
    font-size: 50px;
    font-family: "montserrat", sans-serif; 
}

.topcontent__downloadbutton{
    color: white;
    background-color: #f64c08;
    font-size: 14px;
    font-family: "montserrat", sans-serif; 
    padding: 10px 30px;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}


.topcontent__workbutton{
    color: white;
    background-color: transparent;
    border: 1px solid white!important ;
    font-size: 14px;
    font-family: "montserrat", sans-serif; 
    padding: 9px 45px;
    font-weight: 300;
    cursor: pointer;
   

}
.topcontent__containerrkm{
    color: #0e0d0d;
}