.carrers__our{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: Alata,sans-serif;
    letter-spacing: 1px;
    padding: 20px 0;
    font-size: larger;
    flex-direction: column;

}